msal==1.28.0
requests==2.32.3
pandas==2.2.2
openpyxl==3.1.5
pyxlsb==1.0.10
streamlit==1.37.0
streamlit-antd-components==0.3.2
python-dateutil==2.9.0



#.venv\Scripts\activate    
#pip install -r infra/requirements.txt

#streamlit run app.py
